*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#eef3fb;
    padding:30px;
}

.panel{
    width:100%;
    max-width:1000px;
    margin:auto;
    background:#fff;
    border-radius:20px;
    padding:35px;
    box-shadow:0 15px 40px rgba(0,0,0,.12);
}

.panel h1{
    color:#0d5bd7;
    margin-bottom:10px;
    font-size:34px;
}

.panel p{
    color:#666;
    margin-bottom:30px;
}

label{
    display:block;
    font-weight:bold;
    margin-top:18px;
    margin-bottom:8px;
}

input,
select{

    width:100%;
    padding:14px;
    border:1px solid #d8d8d8;
    border-radius:12px;
    font-size:16px;

}

input:focus,
select:focus{

    outline:none;
    border-color:#0d5bd7;

}

button{

    width:100%;
    margin-top:35px;
    padding:18px;
    border:none;
    border-radius:14px;
    background:#0d5bd7;
    color:white;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;

}

button:hover{

    background:#0849af;

}

table{

    width:100%;
    margin-top:30px;
    border-collapse:collapse;

}

th{

    background:#0d5bd7;
    color:white;
    padding:14px;

}

td{

    padding:14px;
    border-bottom:1px solid #ddd;

}

tr:hover{

    background:#f5f5f5;

}

.editar{

    background:#0d5bd7;
    color:white;
    border:none;
    padding:8px 14px;
    border-radius:8px;
    cursor:pointer;
    margin-right:8px;

}

.eliminar{

    background:#e53935;
    color:white;
    border:none;
    padding:8px 14px;
    border-radius:8px;
    cursor:pointer;

}

.total-ofertas{

    margin-top:35px;
    margin-bottom:12px;

    font-size:18px;

    font-weight:bold;

    color:#0d5bd7;

}
